<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Hubrix</title>
  <base href="/">
  <link rel="stylesheet" href="{{.Permalink}}/assets/hubrix-0.1.7/styles.css">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <hg-layout 
              widgets-path="{{.Permalink}}/assets/hubrix-0.1.7/assets/widgets.json" 
              assets-base-path="{{.Permalink}}/assets/hubrix-0.1.7/assets"
              config-path="{{.Permalink}}/assets/hubrix-0.1.7/assets/config-source.json" 
              >
  </hg-layout>
  <script src="{{.Permalink}}/assets/hubrix-0.1.7/hubrix.js"></script>

  </body>
</html>
